.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: cadetblue;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    width: auto;
  height: 100vh
}


.inc-exp-container{
  display: flex;
  justify-content: space-around;
  background-color:white;
    padding: 0 10px ;
  align-items: center;
  color: #000;
  width: 190px;
  font-size: 13px;
  margin-top: 14px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(226, 226, 222);

}
.inc-exp-container div{
  padding: 10px;
  
}
.exp{
  border-left: 1px solid grey;
}
.exp p{
  color: red;
}
.income p {
  color: green;
}

h4{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}
.balance{
  text-align: start;
  font-size: 13px;
}
.transactin-h{
  padding: 3px;
  font-weight: 500;
    font-size: 12px;
    text-align: start;
    border-bottom: 1px solid rgb(200, 196, 196);
}
.transaction-list{
  display: flex;
    justify-content: space-between;
    border-right: 2px solid red;
    padding: 6px 1px;
    border-radius: 2px;
      box-shadow: 1px 1px 2px rgb(226, 226, 222);
  
  

}
#list{
  padding: 0;
  margin: 0;
}
.form-control{
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 14px;
  margin: 10px 0;

}
.form-control input{
  border: 1px solid rgb(223, 222, 222);
  outline: none;
  padding: 5px;
  margin-top: 3px;
}
.add-new{
  font-weight: 500;
  padding: 3px;
    font-size: 12px;
    text-align: start;
    border-bottom: 1px solid rgb(200, 196, 196);

}
.btn{
  width: 207px;
    padding: 5px;
    background-color: mediumpurple;
    border: none;
    border-radius: 2px;
    color: white;
  
}
.delete-btn{
  background-color: rgb(242, 99, 99);
  opacity: 0;
}
.delete-btn:hover{
  opacity: 1;
}